<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- A dedicated log file (var/log/bougie_licensing.log) for provisioning. -->
    <virtualType name="BougieLicensingLogHandler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/bougie_licensing.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="BougieLicensingLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="name" xsi:type="string">bougie_licensing</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">BougieLicensingLogHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Cresset\BougieLicensing\Model\Api\Client">
        <arguments>
            <argument name="logger" xsi:type="object">BougieLicensingLogger</argument>
        </arguments>
    </type>
    <type name="Cresset\BougieLicensing\Service\Provisioner">
        <arguments>
            <argument name="logger" xsi:type="object">BougieLicensingLogger</argument>
        </arguments>
    </type>
    <type name="Cresset\BougieLicensing\Model\Subscription\Management">
        <arguments>
            <argument name="logger" xsi:type="object">BougieLicensingLogger</argument>
        </arguments>
    </type>
    <!--
        The subscription provider registry. Empty here; a provider module (e.g.
        Cresset_BougieLicensingMollie) adds itself by merging into this array:

            <type name="Cresset\BougieLicensing\Model\Subscription\ProviderPool">
                <arguments>
                    <argument name="providers" xsi:type="array">
                        <item name="mollie" xsi:type="object">Cresset\BougieLicensingMollie\Model\Provider</item>
                    </argument>
                </arguments>
            </type>
    -->
    <type name="Cresset\BougieLicensing\Model\Subscription\ProviderPool">
        <arguments>
            <argument name="providers" xsi:type="array"/>
        </arguments>
    </type>
    <preference for="Cresset\BougieLicensing\Api\LicenseSubscriptionManagementInterface"
                type="Cresset\BougieLicensing\Model\Subscription\Management"/>
    <type name="Cresset\BougieLicensing\Observer\ProvisionOnInvoicePaid">
        <arguments>
            <argument name="logger" xsi:type="object">BougieLicensingLogger</argument>
        </arguments>
    </type>
    <type name="Cresset\BougieLicensing\Observer\RevokeOnCreditmemo">
        <arguments>
            <argument name="logger" xsi:type="object">BougieLicensingLogger</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="bougie_licenses_consolidate" xsi:type="object">Cresset\BougieLicensing\Console\Command\ConsolidateLicenses</item>
            </argument>
        </arguments>
    </type>
</config>
