<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_invoice_pay">
        <observer name="bougie_provision_on_invoice_paid"
                  instance="Cresset\BougieLicensing\Observer\ProvisionOnInvoicePaid"/>
    </event>
    <event name="sales_order_creditmemo_save_after">
        <observer name="bougie_revoke_on_creditmemo"
                  instance="Cresset\BougieLicensing\Observer\RevokeOnCreditmemo"/>
    </event>
</config>
